<div data-role="page">
<br/><br/><br/>
<form action="/app/Share/share">
<div>
<input type="checkbox" name="fb" id="fb"/>
<span style="margin-left:50px">Facebook<span/>
</div>
<div>
<input type="checkbox" name="tt" id="fb"/>
<span style="margin-left:50px">Twitter<span/>
</div>
<div>
<input type="checkbox" name="fs" id="fs"/>
<span style="margin-left:50px">FourSquare<span/>
</div>
<br/><br/><br/>
<textarea cols="40" rows="20" name="share_content" id="share_content"></textarea>
<br/><br/>
<input type="submit" value="Share"/>
</form>
</div>
