<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Twitters</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
    <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">
      New
    </a>
	</div>

  <form method="post" action="<%= url_for :action => :login %>">
     <input type='submit' value='login with twitter'/>
  </form>

</div>
