<div data-role="page" data-add-back-btn="true">
  <%= $username %> is successful login into twitter!!!
  <form action="/app/Twitter/post_status">
  Status:<input type="text" name="content" id="content"/>
   <input type="submit" value="submit"/>
  </form>
</div>
