<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @twitter.username %></h1>
    <%= link_to "Edit", :action => :edit, :id => @twitter.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Username</td>
        <td class="itemValue"><%= @twitter.username%></td>
      </tr>
      
    </table>
  </div>

</div>
