<div class="wrap" data-role="page">
  <div class="outer-wrapper">
	<div class="login-content">
		<div class="loading">
		 <p class="wait">Connecting To Twitter...</p>
		</div>
	</div>
  </div>	
</div>
